<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.powerge.wise.powerge">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" /> -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 只能在支持BLE的Android设备上安装运行 -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".mainPage.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".otherPages.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/LoginTheme" />

        <!-- 产品项目operation -->

        <activity
            android:name=".operationProjo.net.ui.activity.NewWorkOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".operationProjo.net.ui.activity.ServiceReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".operationProjo.net.ui.activity.ContractInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".operationProjo.net.ui.activity.SovledActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".operationProjo.net.ui.activity.NewTemplateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".operationProjo.net.ui.activity.SelectPersonnelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".operationProjo.net.ui.activity.TestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".operationProjo.net.ui.activity.SolvingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".operationProjo.net.ui.activity.EventClassificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".operationProjo.net.ui.activity.OrderSolvedActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".operationProjo.net.ui.activity.NewWorkOrderActivity2"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".operationProjo.net.ui.activity.NewTemplateActivity2"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".operationProjo.net.ui.activity.MyTemplateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".operationProjo.net.ui.activity.TemplateDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".operationProjo.net.ui.activity.ContractDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".operationProjo.net.ui.activity.KnowSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".operationProjo.net.ui.activity.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hyphenate.easeui.ui.EaseBaiduMapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wisesignsoft.OperationManagement.chat.VideoCallActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wisesignsoft.OperationManagement.chat.VoiceCallActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".operationProjo.net.ui.activity.MessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".operationProjo.net.ui.activity.MessageDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".operationProjo.net.ui.activity.SingleRoleChooseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".operationProjo.net.ui.activity.MultUserChooseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".operationProjo.net.ui.activity.AllDeptTreeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".operationProjo.net.ui.activity.SingleUserChooseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".operationProjo.net.ui.activity.SelectDeptActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".operationProjo.net.ui.activity.SelectUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".operationProjo.net.ui.activity.WorkOrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".operationProjo.net.ui.activity.MultSelectResModelActivity" />
        <activity
            android:name=".operationProjo.net.ui.activity.MultRoleChooseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".operationProjo.net.ui.activity.SelectAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".operationProjo.net.ui.activity.KnowDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".operationProjo.net.ui.activity.ServiceDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".operationProjo.net.ui.activity.CreateServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".operationProjo.net.ui.activity.ListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".operationProjo.net.ui.activity.ConfigureListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".operationProjo.net.ui.activity.SelectAccountActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".operationProjo.net.ui.activity.NewTemplateActivity3"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".operationProjo.net.ui.activity.SelectAccountActivity4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".operationProjo.net.ui.activity.WonhInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".operationProjo.net.ui.activity.WorkOrderSolvedUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".operationProjo.net.ui.activity.WorkOrderSolvedUserActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wisesignsoft.OperationManagement.runtimepermissions.PermissionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".operationProjo.net.ui.login.ServerAddressActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".otherPages.FuHeManagementActivity" />
        <activity android:name=".otherPages.DianLiangManagementActivity" />
        <activity android:name=".otherPages.DianLiangFillFormActivity" />
        <activity android:name=".otherPages.JingJiZhiBiaoActivity" />
        <activity android:name=".otherPages.ZHiZhangLogActivity" />
        <activity android:name=".otherPages.SheBeiInfoActivity" />
        <activity android:name=".otherPages.MorningMeetingActivity" />
        <activity android:name=".otherPages.JingSai.JingSaiActivity" />
        <activity android:name=".otherPages.huaBao.HuanBaoActivity" />
        <activity android:name=".otherPages.queXian.QueXianMagActivity" />
        <activity android:name=".otherPages.queXian.QueXianPieChartActivity" />
        <activity android:name=".otherPages.xunJian.XunJianMagActivity" />
        <activity android:name=".otherPages.xunJian.XunJianDianSignListActivity" />
        <activity android:name=".otherPages.PlanTasksMag.PlanTasksMagActivity" />
        <activity android:name=".otherPages.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".zxing.activity.CaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name=".zxing.activity.ResultActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity android:name=".otherPages.TongJiFormActivity" />
        <activity android:name=".otherPages.DatePeriodSelectActivity" />
        <activity android:name=".otherPages.FuHeOneHourDataActivity" />
        <activity android:name=".otherPages.PlanTasksMag.PlanTaskDetailsActivity" />
        <activity
            android:name=".helper.LoadingWindowActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent" />
        <activity android:name=".otherPages.issues.IssuesManagerActivity" />
        <activity android:name=".otherPages.DateSelectActivity" />
        <activity android:name=".otherPages.xunJian.XjFillFormActivity" />
        <activity android:name=".otherPages.xunJian.XjEdititemActivity"></activity>
    </application>

</manifest>